<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
    <form action="add-employee" method="POST">
        <div>
            <h1>ADD EMPLLOYEE</h1>
        </div>
        <div class="feild">
            <label>Employee ID:</label>
            <input name="emp_id" type="text" id="emp_id">
            <label>Last Name</label>
            <input name="lname" type="text" id="lname">
            <label>First Name</label>
            <input name="fname" type="text" id="fname">
            <label>Middle Name</label>
            <input name="mname" type="text" id="mname">
        </div>
        <div class="feild">
            <button type="submit" class="button">ADD</button>
        </div>
    </form>

</body>

</html>