<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if message != ""%}
    <div class="has-bg-danger messagebox">{{message}}</div>

    <form action="employee-list" method="POST">
        <table>
            <tr>

                <th>Employee ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Name</th>

            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee[0] }}</td>
                <td>{{ employee[1] }}</td>
                <td>{{ employee[2] }}</td>
                <td>{{ employee[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>

</body>

</html>