<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="check_user" method="POST">
        <center>
    <div class="form card">
        <div class="card_header">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fil="currentColor"
                    d="M4 15h2v5h124VH6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1">
                </path>
            </svg>
            <h1 class="form_heading">Sign In</h1>
        </div>
        <div class="feild">
            <label for="username">Username</label>
            <input class="input" name="username" type="text" placeholder="Username" id="username">
        </div>
        <div class="feild">
            <label for="password">Password</label>
            <input class="input" name="password" type="password" placeholder="Password" id="password">
        </div>
        <div class="feild">
            <button type="submit" class="button">Login</button>
        </div>
    </div>
</center>
</form>

</body>

</html>